# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/
bower_components/

# Build output
dist/
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Webpack cache
.cache/
.next/

.DS_Store 

# IDE-specific settings (e.g., VS Code)
.vscode/
.idea/
