body {
    padding: 2px;
    font-family: 'Roboto', sans-serif;
}

.heading {
    font-weight: 700;
    text-align: center;
    color: #333;
}

p {
    color: #666;
}

.btn {
    background-color: #f36;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 8px 0;
}

.label-container {
    margin-top: 12px;
}

.display-field {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    color: #333;
    min-height: 16px;
    max-height: 150px;
    overflow-y: auto;
    white-space: pre-wrap;
}

.loading {
    display: none;
}

.email-data-container {
    margin-top: 12px;
    border: #f36 2px solid;
    border-radius: 4px;
    padding: 8px;
}

.file-input-container {
    cursor: pointer;
}

.file-upload-label {
    margin-bottom: 8px;
}

.image-container {
    margin-top: 12px;
    border: #f36 2px solid;
    border-radius: 4px;
    padding: 8px;
}